@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

body{
    background-color: #fff;
}

nav{
    background-color: #000000d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
    width: 100%;
    font-size: 16px;
    backdrop-filter: blur(20px);
    position: fixed;
}
#navi ol{
    list-style-type: none;
}
#navi ol li{
    display: inline-block;
    padding: 17px 20px;
}
nav a{
    text-decoration: none;
    color: #ffffffc2;
}
nav a:hover{
    color: #FFF;
}

.log_btn{
    padding: 5px 10px;
    background-color: #ffffff3b;
    border: none;
    border-radius: 50px;
}

.log_btn:hover{
    background-color: #ffffff00;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
}

#first_sec{
    padding-top: 54.89px;
}

.board_4_symb{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#at_head{
    font-size: 30pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
#at_write{
    background-color: #35283C;
    color: #fff;
    font-size: 25px;
    line-height: 1.381;
    padding: 40px;
    text-align: justify;
}
#at_head span span:hover{
    color: #76ba1b;
}

#img_cont{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 10px;
}

#img_cont img{
    border-radius: 20px;
    width: calc(100%/3 - 10px);
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: fill;
}
#img_cont img:hover{
    border: 2px solid rgb(30, 127, 255);
    cursor: pointer;
}

footer{
    height: auto;
    padding: 50px;
    background-color: #e0e0e0;
    color: #525252;
}

.app_link_u_footer{
    color: inherit;
    display: inline-block;
    margin: 20px 20px 20px 0px;
}
.app_link_u_footer:hover{
    text-decoration: underline;
}