@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url(../color/color.css);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(--object-prime);
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--background-prime);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
  }
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}