@import url(../color/color.css);

nav{
    background-color: var(--background-prime);
    position: fixed;
    z-index: 3;
    right: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1.5px solid var(--object-prime);
    align-items: center;
    height: 100vh;
    padding: 20px 5px;
}

.settings{
    border: none;
    outline: none;
    cursor: pointer;
    align-items: flex-start;
    fill: transparent;
}
.nav-hr{
    background-color: var(--object-prime);
    height: 1px;
    border: none;
    border-radius: 10px;
    width: 50%;
    margin: 20px;
}

.botm-dock{
    display: inline-block;
    height: auto;
}

nav ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav ol li{
    margin: 10px 10px;
}

nav button{
    background: var(--background-prime);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    padding: 10px;
    height: 50px;
    width: 50px;
}

nav button>svg{
    fill: var(--object-prime);
    height: 30px;
    width: 30px;
    transition: 1s;
}
nav button>svg:hover{
    fill: var(--highlight);
}